/* common styles */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.orange{
    color: orange;
}
/* display flex style  */
.flex{
    display: flex;
    margin-bottom: 150px;
}
.half-area{
    width: 50%;
    padding-left: 5%;
}
.half-area img{
    width: 80%;
}
/* button style  */
.button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
/* welcome section style  */
.welcome{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
/* dreambig section style  */
.dreambig{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
/* experience section style  */
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.experience{
    box-shadow: 10px 10px 40px gray;
    width: 80%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
}
#item-1{
    border-left: 7px solid;
    border-image: linear-gradient(purple,tomato);
    border-image-slice: 1;
  
}
#item-2{
    border-left: 7px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}
/* Responsive */
@media (max-width:688px) 
{
    .flex{
        display: block;
    }
    .half-area img{
        width: 100%;
        margin-top: 15px;  
    }
    .half-area{
        width: 70%;
    }
}